.link {
  display: block;
}

textarea {
  width: 75%;
  height: 200px;
  resize: none;
  /* margin-top: 12px;
  margin-bottom: 12px; */
}

button {
  width: 100px;
  height: 40px;
  display: block;
}

textarea[readonly] {
  background-color: #f5f5f5;
  cursor: text;
  border: 1px solid #ddd;
}
